.center-content {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
}

.masthead {
  display: block;
  text-align: center;
  height: 43em;
  width: 100%;
  padding-top: 10%;
  text-shadow: 2px 2px #000;
}

.bg-cover {
  display: block;
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: 2;
}

.overlay {
  background-color: #000;
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
